*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

#terraMap { height:90vh;
            width:100hw;
         }
.info{
    font: 14px;
    font-family: 'calibri';
    background-color: beige;
    box-shadow: 0 0 15px rgb(19, 54, 85);
    border-radius: 6px;
}