*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.form-register{
    width: 400px;
    background: #24303c;
    padding:30px;
    margin:auto;
    margin-top:100px;
    border-radius:4px;
    font-family:'calibri';
    color:aliceblue;

}
.form-register h4{
    font-size: 22px;
    margin-bottom: 20 px;

}
.controls{
    width:100%;
    background: #24303c;
    padding:10px;
    border-radius:4px;
    margin-bottom:16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
}
.form-register boton{
    width: 100%;
    background: #1f53c5;
    border:none;
    padding: 12px;
    color:white;
    margin-left: 16px 0;
    font-size: 16px;


}
.dropdownMenuButton1{
    width: 400px;
    background: #24303c;
    padding:50px;
    margin:auto;
    margin-top:100px;
    border-radius:4px;
    font-size: 18px;
    font-family:'calibri';
    color:aliceblue;


}
#terraMap { height: 90vh;
            width: 100hw;
         }
